<template id="bg">
	<style>
		.bg {
			height: 100%;
			width: 100%;
			overflow: hidden;
			position: relative;
			transition: all 0.2s ease;
			transform: translate(0, 0);
		}
		
		.bg > div:nth-child(1) {
			background-image: url("{{root}}/assets/pattern.png");
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background-size: 20px auto;
			transition: all 1s linear;
		}
		
		.bg > div:nth-child(3) {
			position: absolute;
			width: 14rem;
			height: 14rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
		}
		
		.bg > div:nth-child(2) {
			position: absolute;
			width: 25rem;
			height: 25rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
		}
		
		.bg > div:nth-child(2) > div {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			opacity: 0.5;
			transition: all 1s linear;
		}
		
		.bg > div:nth-child(3) > div {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			border-radius: 100000px;
			mix-blend-mode: overlay;
			transition: all 1s linear;
		}
	</style>
	<div class="bg">
		<div></div>
		<div>
			<div style="background-image: url({{root}}/assets/circle.png); transform: scale(0.9)"></div>
			<div style="background-image: url({{root}}/assets/circle.png); transform: scale(0.95)"></div>
			<div style="background-image: url({{root}}/assets/circle.png); transform: scale(1)"></div>
		</div>
		<div>
			<div style="transform: translate(-16.1478px, 32.0335px); background: linear-gradient(rgb(46, 175, 255), rgb(26, 156, 26));"></div>
			<div style="transform: translate(30.1478px, -32.0335px); background: linear-gradient(rgb(26, 156, 26), rgb(46, 175, 255));"></div>
			<div style="transform: translate(5.1478px, 32.0335px); background: rgb(46, 175, 255);"></div>
			<div style="transform: translate(-16.1478px, 5.0335px); background: rgb(26, 156, 26)"></div>
			<div style="transform: translate(-5.1478px, 5.0335px); border: 1px solid rgb(44, 252, 120);"></div>
			<div style="transform: translate(-25.1478px, -5.0335px); border: 1px solid #fff;"></div>
			<div style="transform: translate(-15.1478px, 32.0335px); border:  1px solid rgb(44, 40, 255);"></div>
		</div>
	</div>

	<script>
		(function() {
        var bgContainer = document.querySelector('.bg');
        var bg = document.querySelectorAll('.bg > div:nth-child(3) > div');
        var rings = document.querySelectorAll('.bg > div:nth-child(2) > div');
        var bgPattern = document.querySelector('.bg > div:nth-child(1)');
        var update = 0;
        var t = 0;
        (function raf() {
            t += 0.005;
            if(update == 0) {
                for(var i = 0; i < bg.length; i++) {
                    var cur = bg[i];
                    cur.style.transform = "translate(" + Math.sin(i + t * 1) * 30 + "px, " + Math.cos(i * 10 + t * 1) * 30 + "px)";
                    var blur = Math.cos(i * 100 + t * 1) * Math.cos(i * 100 + t * 1) * 2;
                    if (blur > 1) {
                        cur.style.filter = "blur(" + Math.cos(i * 100 + t * 1) * 2 + "px)";
                    } else {
                        cur.style.filter = "";
                    }
                }
                for(var i = 0; i < rings.length; i++) {
                    var cur = rings[i];
                    var scale = 1 - i * 0.05;
                     cur.style.opacity = (i + 1) * 0.2;
                    cur.style.transform = "scale(" + scale + ") rotate(" + (t * (i + 1) * 10) + "deg)";
                }
                bgPattern.style["opacity"] = Math.max(0, Math.sin(t) * 0.5) + 0.1;
            }
            update ++;
            if(update > 50) {
                update = 0;
            }
            requestAnimationFrame(raf);
        })();
		})();
    </script>

</template>


<template id="searchbar">
	<style>
		.searchbar {
			height: 45px;
			position: relative;
			width: 100%;
			top: 5px;
			margin-bottom: 10px;
		}
		
		.searchbar.focus {}
		
		.searchbar > .rbox {
			margin-left: 1rem;
			margin-right: 1rem;
			width: auto;
			outline: none;
		}
		
		.searchbar > .rbox > div:nth-of-type(1) {
			height: 45px;
			width: 45px;
			position: absolute;
			right: 0;
			top: 0;
			background: rgb(26, 156, 26);
			background-image: url("{{root}}/assets/search.png");
			background-size: 20px 20px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.searchbar input {
			width: 100%;
			height: 100%;
			outline: none;
			padding: 2px 70px 1px 7px;
			font-size: 1.2em;
			border-radius: 0;
			border: none;
			background: rgba(255, 255, 255, 0.6);
			transition: background 0.8s ease;
		}
		
		.searchbar input:focus {
			background: rgba(255, 255, 255, 1);
		}
		
		.searchbar .sug {
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			z-index: 9999;
			display: none;
		}
		
		.searchbar .sug.focus {
			display: block;
		}
		
		.searchbar .sug a {
			height: 35px;
			display: block;
			border-top: 1px solid #eee;
			background: white;
			color: #999;
			line-height: 38px;
			text-align: left;
			font-size: 0.9em;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			white-space: nowrap;
			text-decoration: none;
		}
		
		.searchbar .sug a i {
			margin-right: 5px;
		}
		
		.searchbar .sug a:visited {
			color: #999;
		}
	</style>
	<div class="searchbar">
		<div class="rbox">
			<input type="text"></input>
			<div id='searchbtn'></div>
			<div class='sug'>

				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
			</div>
		</div>
	</div>

	<script>
        var search_container = document.querySelector(".searchbar");
        var search_element = document.querySelector(".searchbar input");
        var search_btn = document.querySelector("#searchbtn");
        var search_sug = document.querySelector(".searchbar .sug");
        search_element.addEventListener("focus", function(){
            search_container.classList.add("focus") 
            search_sug.classList.add("focus");
        });
        search_element.addEventListener("blur", function(e){
            setTimeout(function(){
            search_sug.classList.remove("focus");
            search_container.classList.remove("focus") 
            }, 1);
        });
        search_element.addEventListener("keydown", function(e){
            if(e.keyCode == 13) window.location.href = ("{{root}}/?q=" + encodeURIComponent(search_element.value));
        });

        search_btn.addEventListener("click", function(e){
            window.location.href = ("{{root}}/?q=" + encodeURIComponent(search_element.value));
        });

        if(window.word) {
            search_element.value = window.word;
        }
        
    </script>
</template>

<template id="search_sug">
	<a href="{{root}}/?q={{keyword}}"><i class="fa fa-{{icon}}"></i> {{text}}</a>
</template>

<template id="poweredBy">
	<style>
		.poweredBy {
			text-align: middle;
			display: block;
			line-height: 13px;
			font-size: 12px;
			padding: 30px;
			vertical-align: middle;
		}
		
		.poweredBy * {
			vertical-align: middle;
		}
		
		.poweredBy img {
			height: 9px;
			margin-left: 7px;
		}
	</style>
	<div class="poweredBy">
		<span>Powered By</span><img src="{{root}}/assets/emerge.png" />
	</div>
</template>