<template id="bg">
	<style>
		.bg {
			height: 100%;
			width: 100%;
			overflow: hidden;
			position: relative;
			transition: all 0.2s ease;
			transform: translate(0, 0);
		}
		.bg canvas{
			width: 100%;
			height: 100%;
		}
	</style>
	<div class="bg">
		<canvas id="canvas"></canvas>
	</div>

	<script>
		~function(){
			var w = 357,h = 667;
			var size = 30,seeds = Math.max(h,w) / 30;
			var sin = Math.sin, abs = Math.abs, cos = Math.cos, rd = Math.round;
			var canvasBody = document.getElementById("canvas"),ctx = canvasBody.getContext("2d");
			var heightScale = 1;
			var t = 0;
			var rnd = function (min, max) {
				return Math.floor((Math.random() * (max - min + 1)) + min);
			};
			function map(x, a, b, c, d) {
				return (x - a) / (b - a) * (d - c) + c;
			}
			function norm(x, c, d) {
				return Math.floor(map(x * x,0, 1,c,d));
			}
			var render = function () {
				ctx.clearRect(0,0,w,h);
				var hueStart = rnd(0, 360);
				var triSide = 20;
				var halfSide = triSide / 2;
				var rowHeight = Math.floor(triSide * heightScale);
				var columns = Math.ceil(w / triSide) + 1;
				var rows = Math.ceil(h / rowHeight);
				t += 0.01;
				for (row = 0; row < rows; row++) {
					for (col = 0; col < columns; col++) {
						var a = abs(sin(t));
						var b = abs(sin(t / 2));
						var cl = {color1: [0x30,0xa2,0xff],color2: [0x00,0x4c,0xff]};
						var gb = ctx.createLinearGradient(0,0,100,100);
						var gb2 = ctx.createLinearGradient(0,0,100,100);
						gb.addColorStop(0,'rgb('+norm(b,cl.color1[0],cl.color2[0])+','+norm(a,cl.color1[1],cl.color2[1])+','+norm(b,cl.color1[2],cl.color2[2])+')');
						gb.addColorStop(1,'rgb('+norm(a,cl.color1[0],cl.color2[0])+','+norm(b,cl.color1[1],cl.color2[1])+','+norm(a,cl.color1[2],cl.color2[2])+')');
						gb2.addColorStop(0,'rgb('+norm(a,cl.color1[0],cl.color2[0])+','+norm(a,cl.color1[1],cl.color2[1])+','+norm(b,cl.color1[2],cl.color2[2])+')');
						gb2.addColorStop(1,'rgb('+norm(b,cl.color1[0],cl.color2[0])+','+norm(b,cl.color1[1],cl.color2[1])+','+norm(a,cl.color1[2],cl.color2[2])+')');

						var hue = norm(a, 207, 222);

						var x = col * triSide;
						var y = row * rowHeight;
						var clr;

						if (row % 2 != 0) {
							x -= halfSide;
						}

						// upward pointing triangle
						clr = 'hsl(' + hue + ', 50%, ' + map(row, 0, rows, 30, 60) + '%)';
						ctx.fillStyle = clr;
						ctx.strokeStyle = clr;
						ctx.beginPath();
						ctx.moveTo(x, y);
						ctx.lineTo(x + halfSide, y + rowHeight);
						ctx.lineTo(x - halfSide, y + rowHeight);
						ctx.closePath();
						ctx.fill();
						ctx.stroke(); // needed to fill antialiased gaps on edges

						// downward pointing triangle
						clr = 'hsl(' + hue + ', 50%, ' + map(row, 0, rows, 30, 60) + '%)';
						ctx.fillStyle = clr;
						ctx.strokeStyle = clr;
						ctx.beginPath();
						ctx.moveTo(x, y);
						ctx.lineTo(x + triSide, y);
						ctx.lineTo(x + halfSide, y + rowHeight);
						ctx.closePath();
						ctx.fill();
						ctx.stroke();

					};
				};
				requestAnimationFrame(render);
			}
			render();
		}()
	</script>

</template>


<template id="searchbar">
	<style>
		.searchbar {
			height: 45px;
			position: relative;
			width: 100%;
			top: 5px;
			margin-bottom: 10px;
		}
		
		.searchbar.focus {}
		
		.searchbar > .rbox {
			margin-left: 1rem;
			margin-right: 1rem;
			width: auto;
			outline: none;
		}
		
		.searchbar > .rbox > div:nth-of-type(1) {
			height: 45px;
			width: 45px;
			position: absolute;
			right: 0;
			top: 0;
			background: #0f68ff;
			background-image: url("{{root}}/assets/search.png");
			background-size: 20px 20px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
		
		.searchbar input {
			width: 100%;
			height: 100%;
			outline: none;
			padding: 2px 70px 1px 7px;
			font-size: 1.2em;
			border-radius: 0;
			border: none;
			background: rgba(255, 255, 255, 0.6);
			transition: background 0.8s ease;
		}
		
		.searchbar input:focus {
			background: rgba(255, 255, 255, 1);
		}
		
		.searchbar .sug {
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			z-index: 9999;
			display: none;
		}
		
		.searchbar .sug.focus {
			display: block;
		}
		
		.searchbar .sug a {
			height: 35px;
			display: block;
			border-top: 1px solid #eee;
			background: white;
			color: #999;
			line-height: 38px;
			text-align: left;
			font-size: 0.9em;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			white-space: nowrap;
			text-decoration: none;
		}
		
		.searchbar .sug a i {
			margin-right: 5px;
		}
		
		.searchbar .sug a:visited {
			color: #999;
		}
	</style>
	<div class="searchbar">
		<div class="rbox">
			<input type="text"></input>
			<div id='searchbtn'></div>
			<div class='sug'>

				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
				<a href="test">某某某人的某某</a>
			</div>
		</div>
	</div>

	<script>
        var search_container = document.querySelector(".searchbar");
        var search_element = document.querySelector(".searchbar input");
        var search_btn = document.querySelector("#searchbtn");
        var search_sug = document.querySelector(".searchbar .sug");
        search_element.addEventListener("focus", function(){
            search_container.classList.add("focus") 
            search_sug.classList.add("focus");
        });
        search_element.addEventListener("blur", function(e){
            setTimeout(function(){
            search_sug.classList.remove("focus");
            search_container.classList.remove("focus") 
            }, 1);
        });
        search_element.addEventListener("keydown", function(e){
            if(e.keyCode == 13) window.location.href = ("{{root}}/?q=" + encodeURIComponent(search_element.value));
        });

        search_btn.addEventListener("click", function(e){
            window.location.href = ("{{root}}/?q=" + encodeURIComponent(search_element.value));
        });

        if(window.word) {
            search_element.value = window.word;
        }
        
    </script>
</template>

<template id="search_sug">
	<a href="{{root}}/?q={{keyword}}"><i class="fa fa-{{icon}}"></i> {{text}}</a>
</template>

<template id="poweredBy">
	<style>
		.poweredBy {
			text-align: middle;
			display: block;
			line-height: 13px;
			font-size: 12px;
			padding: 30px;
			vertical-align: middle;
		}
		
		.poweredBy * {
			vertical-align: middle;
		}
		
		.poweredBy img {
			height: 9px;
			margin-left: 7px;
		}
	</style>
	<div class="poweredBy">
		<span>Powered By</span><img src="{{root}}/assets/emerge.png" />
	</div>
</template>