<inject appendTo="body">
	<style>
		.header {
			position: fixed;
			padding-bottom: 10px;
			margin-bottom: 15px;
			left: 0;
			right: 0;
			top: 0;
			z-index: 100;
		}
		
		.bgHolder {
			top: -15px;
			left: 0;
			right: 0;
			bottom: 0px;
			position: absolute;
			z-index: 0;
			overflow: hidden;
		}
		
		.header .display {
			transition: all .3s ease;
			z-index: 100;
			position: relative;
			padding-top: 90px;
		}

		.header.short .display{
			padding-top: 45px;
		}

		.header.short .logoTxt{
			opacity: 0;
		}
		
		.logo {
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			z-index: 100;
		}

		.logo:before{
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			content: '';
			border: 80px solid #fff;
			border-top: 40px solid #fff;
			border-bottom: 40px solid transparent;
			border-right-color: transparent;
			z-index: 101;
		}

		.logo img{
			height: 25px;
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 102;
		}

		.logoTxt {
			font-family: "Montserrat";
			transition: all .3s ease;
			display: block;
			position: absolute;
			top: 10px;
			font-weight: 100;
			text-align: right;
			right: 10px;
			color: white;
			padding: 10px;
			line-height: 1.2;
			z-index: 100;
		}

		.logoTxt:before{
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			border-top: 3px solid white;
			border-right: 3px solid white;
			content: '';
			height: 15px;
			width: 20px;
		}
		
		.logoTxt:after{
			position: absolute;
			bottom: 0;
			left: 0;
			border: none;
			border-bottom: 3px solid white;
			border-left: 3px solid white;
			content: '';
			height: 15px;
			width: 20px;
		}

		.searchbar{
			z-index: 200;
		}

		#company-container{
			margin: 1px 0 0;
			border-bottom: 1px solid rgba(15, 104, 255, .5); 
		}

		.entries{
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			transition: all .3s ease;
			transform: translate(0,100%);
			opacity: 1;
			background: rgba(255, 255, 255, .9);
			padding: 10px 0 0;
		}

		.entries.open{
			transform: translate(0,0);
		}

		.entries a{
			height: 2rem!important;
		}

		.entries a span{
			display: none!important;
		}

		.entries a svg{
			fill: #666!important;
		}
	</style>
	<div class="header">
		<div class="bgHolder">
			<template id="bg" />
		</div>
		<div class="display">
			<div class="logo">
				<img onclick="window.location.href='/'" class="logo" src="{{root}}/assets/tc-logo.png" />
			</div>
			<div class="logoTxt">
				<span>Keep Fighting<br>and<br>Carry on</span>
			</div>
			<template id="searchbar" />
		</div>
	</div>
	<div class="container" style="margin-top: 155px;transition: all .3s ease;">
		<div class="about-grid" style="display: none;margin: 15px;">
			<template id="about"></template>
			<template id="contact"></template>
		</div>
		<div class="matches"></div>
		<!--<template id="schedule-detail"/>
		<template id="company-detail"/>
		<template id="investor-detail"/>
		<template id="speaker-detail"/>-->
		<div class="countparent" id="expand-speaker">
			<template id="expandable">
				{ "section":"演讲嘉宾", "icon": "speaker", "count": 0, "target": "#speaker-container", "open": "" }
			</template>
			<div class="list countme" id="speaker-container">
			</div>
		</div>
		<div class="countparent" id="expand-schedule">
			<template id="expandable">
				{ "section":"议程安排", "icon": "schedule", "count": 0, "target": "#schedule-container", "open": "" }
			</template>
			<div class="tablist" id="schedule-container">
				<div class="tabs">
					<!--<div data-day="7">Mon<b>07</b></div>
					<div data-day="8">Tues<b>08</b></div>-->
				</div>
				<div class="countme tabContainer">

				</div>
			</div>
		</div>

		<div class="countparent" id="expand-company">
			<template id="expandable">
				{ "section":"合作伙伴", "icon": "project", "count": 0, "target": "#company-container", "open": "" }
			</template>
			<div class="list countme" style="padding-bottom:0" id="company-container">
			</div>
		</div>

		<div class="failedsearch detail none">
			<div style="color: #aaa; text-align: center;">暂未找到结果</div>
		</div>
	</div>

	<div style="color: #666; text-align: center;">
		<template id="poweredBy">{"em" : "emerge2"}</template>
	</div>

	<template id="entries"/>
</inject>


<script>
	var total = gresult.length + fresult.length;

	var gsch = [];
	for(var i = 0; i < gresult.length; i++) {
		var cur = gresult[i];
		if(cur.key == "schedule") {
			gsch.push(cur.obj);
			continue;
		}
		var container = $(".matches");
		var templ = $$$template(cur.key + "-detail", cur.obj);
		templ.appendTo(container);
	}

	gsch = gsch.sort(function(a,b){
		return a.end - b.end;
	});

	for(var i = 0; i < gsch.length; i++) {
		var cur = gsch[i];
		var container = $(".matches");
		var templ = $$$template("schedule-detail", cur);
		templ.appendTo(container);
	}

	//fix speakers
	var speaker_containers = $(".schedule-speaker-container"); //find all
	for(var c = 0; c < speaker_containers.length; c++) {
		var cont = $(speaker_containers[c]);
		var sp = cont.attr("data-speakers").split(",");
		for(var s = 0; s < sp.length; s++) {
			var speaker = findSpeaker(sp[s]);
			if(speaker !== undefined) {
				$$$template("speaker", speaker).appendTo(cont);
			}
		}
	}

	var fsch = [];
	for(var i = fresult.length - 1; i >= 0; i--) {
		var cur = fresult[i];
		if(cur.key == "schedule") {
			fsch.push(cur.obj);
			continue;
		}
		var container = $("#" + cur.key + "-container .countme, " + "#" + cur.key + "-container.countme");
		if(container.length == 0) continue;
		var templ = $$$template(cur.key, cur.obj);
		templ.appendTo(container);
	}

	fsch = fsch.sort(function(a,b){
		return a.end - b.end;
	});

	for(var i = 0; i < fsch.length; i++) {
		var cur = fsch[i];
		var container = $("#schedule-container .countme, " + "#schedule-container.countme");
		if(container.length == 0) continue;
		var templ = $$$template("schedule", cur);
		templ.appendTo(container);
	}

	//finish loading
	//count
	var counts = $(".countme");
	var parts = 0;
	for(var i = 0; i < counts.length; i++) {
		var cur = $(counts[i]);
		var par = cur.parents(".countparent");
		if(cur.children().length == 0) {
			par.remove();
		} else {
			parts++;
			par.find(".count").text(cur.children().length);
		}
	}
	if(total == 0){
		$(".failedsearch").removeClass("none");
	}
	if(parts == 1) {
		$(".expandable").addClass("open");
		$(".countme").parent().removeClass("close");
	}


	function twoDigits(text) {
		return text.length == 1 ? ("0" + text) : text;
	}

	var dayMap = {
		6: "Tues",
		7: "Wed"
	}

	var tabs = $(".tablist");
	for(var i = 0; i < tabs.length; i++) {
		(function (i) {
			var tabparent = $(tabs[i]);
			var days = [];
			var dayObjs = {};
			var tabcontainer = tabparent.find(".tabs");
			var children = tabparent.find(".tabContainer > *");
			for(var i = 0 ; i <children.length; i++) {
				var day = $(children[i]).data("date");
				if(!day) {
					day = $(children[i]).data("datespan");
				}
				if(!day) continue;
				day = day.toString().split(",");
				for(var j = 0; j < day.length; j++) {
					if(days.indexOf(day[j]) == -1) {
						days.push(day[j]);
						dayObjs[day[j]] = [];
					}
					dayObjs[day[j]].push($(children[i]));
				}
			}
			function select(j) {
				for(var key in dayObjs) {
					if(key.toString() == j) {
						for(var l in dayObjs[key]) {
							dayObjs[key][l].css("display", "block");
						}
					} else {
						for(var l in dayObjs[key]) {
							dayObjs[key][l].css("display", "none");
						}
					}
				}
			}
			days = days.sort();
			var allTabs = [];
			for(var j = 0; j < days.length; j++){
				(function (j){
					var tab = $("<div data-day='" + days[j] + "'>" + dayMap[days[j]] + "<b>" + twoDigits(days[j]) + "</b></div>");
					tab.appendTo(tabcontainer);
					if(j == 0) {
						tab.addClass("active");
						select(days[j]);
					}
					allTabs.push(tab);
					tab.click(function(){
						for(var q = 0; q < allTabs.length; q++) {
							if(allTabs[q] != tab) {
								allTabs[q].removeClass("active");
							}
						}
						tab.addClass("active");
						select(days[j]);
					});
				})(j)
			}
		})(i)
	}
	//handle tabs

	//handle schedules
	var schedules = $(".schedule_item");
	function handleSchedules() {
		var date = Date.now();
		for(var i = 0; i < schedules.length; i++) {
			var cur = $(schedules[i]);
			if(cur.data("start") > date) {
				cur.removeClass("active")
				cur.removeClass("disabled")
			} else if(cur.data("end") < date) {
				cur.addClass("disabled")
				cur.removeClass("active")
			} else {
				cur.addClass("active")
				cur.removeClass("disabled")
			}
		} 
	}
	setInterval(handleSchedules, 5000);
	handleSchedules();

	if((/(WISE|wise|联系|关于|contact|about)/i).test(window.word)) {
		document.querySelector(".about-grid").style.display = "block";
	}

	var _w = $(window);
	var hd = $('.header');
	var exlist = $('.countparent');
	_w.on('scroll',function(e){
		if(_w.scrollTop() >= 110){
			$('.entries').addClass('open');
			hd.addClass('short');
			exlist.each(function(idx) {
				var top = this.getBoundingClientRect().top;
				if (idx * 60 + 150 > top) {
					$(this).find('.expandable').css({'position':'fixed','top': idx * 60 + hd.height() + 'px'});
				}else{
					$(this).find('.expandable').css({'position':'relative','top': 0});
				}
			});
		}else{
			$('.entries').removeClass('open');
			hd.removeClass('short');
			exlist.each(function () {
				$(this).find('.expandable').css({'position':'relative','top': 0});
			})
		}
	});
</script>