<style>
	.detail {
		text-align: middle;
		border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
		margin: 30px;
		padding-bottom: 30px;
		padding-top: 10px;
		margin-left: 0;
		margin-right: 0;
		position: relative;
	}
	
	.detail .dots {
		padding: 0;
		margin: 0;
		border-color: rgb(15, 104, 255);
		border: none;
	}
	
	.dots[data-desc=""] {
		display: none;
	}

    .text[data-desc=""] {
		display: none;
	}
	
	.detail .avatar {
		border: none;
		width: 5rem;
		height: 5rem;
		padding: 0;
		margin: auto auto;
		margin-bottom: 15px;
		background: #666;
		background-position: 50% 50%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.detail .avatar[data-img=""] {
		display: none;
	}
	
	.detail .name {
		font-weight: bold;
		text-align: center;
		font-size: 25px;
		margin-bottom: 15px;
	}
	
	.detail .subname {
		text-align: center;
		font-size: 15px;
		margin-top: -15px;
		opacity: 0.5;
		margin-bottom: 15px;
	}
	
	.detail .text {
		color: #666;
		margin: 20px;
		font-size: 15px;
	}
	
	.detail .url {
		text-align: center;
		display: block;
		padding: 15px;
		text-decoration: none;
		color: #fff;
		font-size: 17px;
		font-weight: bold;
		background: rgb(15, 104, 255);
		margin: 0 15px;
		border: none;
	}
	
	.detail .url[href=''] {
		display: none !important;
	}
	
	.investor-detail .dots {
		border-color: rgb(250, 110, 0);
	}
	
	.investor-detail .url {
		background: rgb(250, 110, 0);
	}
	
	.schedule-detail {
		position: relative;
		border-bottom: 1px solid rgba(15, 104, 255, .5);
		padding: 0 0 0 70px;
		overflow: hidden;
	}
	
	.schedule-detail .time {
		color: rgb(15, 104, 255);
		text-align: center;
		font-weight: bold;
		position: absolute;
		top: 50%;
		font-size: 15px;
		left: 15px;
		line-height: 10px;
	}
	
	.schedule-detail .text {
		color: rgb(15, 104, 255);
		text-align: left;
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;
		margin: 10px 0 0;
	}

	.name {
		white-space: pre-line;
	}

	.schedule-detail .des{
		margin: 5px 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 0;
	}

	.schedule-detail .des > div{
		font-size: 12px;
		display: inline-block;
		margin: 0 15px 0 0;
		color: rgb(15, 104, 255);
		line-height: 1.2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.detail .level{
		font-size: 12px;
    	line-height: 1.5;
    	text-align: center;
	}
</style>

<template id="company-detail">
	<div class="detail">
		<div class="dots avatar" style="background-image:url('{{root}}/assets/company/{{id}}.png')"></div>
		<div class="level">{{level}}</div>
		<div class="name">{{name}}</div>
	</div>
</template>

<template id="speaker-detail">
	<div class="speaker-detail detail">
		<div class="dots avatar" style="background-image:url('{{root}}/assets/speakers/{{id}}.png')"></div>
		<div class="name" style="color: #666">{{name}}</div>
		<div class="subname" style="color: #666">{{company}} {{position}}</div>
		<div class="dots" data-desc="{{desc}}">
			<div class="text">{{desc}}</div>
		</div>
	</div>
</template>

<define id="schedule-detail">
	<div class="detail">
		<div class="schedule-detail green">
			<div class="time vmid">
				{{start_time}}<br>-<br>{{end_time}}
			</div>
			<div class='text'>
				{{name}}
			</div>
			<div class="des">
				<div class="part">
					{{part}}
				</div>
				<div class="position">
					{{position}}
				</div>
			</div>
		</div>
		<div data-speakers="{{speakers}}" class="schedule-speaker-container">
		</div>
	</div>
</define>