<define id="schedule_board_item">
	<div data-date="{{date}}" data-start='{{start}}' data-end='{{end}}' class="schedule_board_item" onclick="location.href='/?q={{name}}'">
		<div class="time">{{start_time}} - {{end_time}}</div>
		<div class="title">{{name}}</div>
		<div class="speakers">{{speakers}}</div>
	</div>
</define>

<inject appendTo="#outerlayer">
	<style>
		.bgHolder {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		
		.main {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: white;
			text-align: center;
			padding-top: 150px
		}
		
		.main h1 {
			text-align: center;
			font-size: 25px;
			padding-top: 1.2rem;
			font-weight: bold;
		}
		
		.main .logo {
			display: block;
			height: 150px;
			width: 250px;
			position: absolute;
			z-index: 100;
			overflow: hidden;
			top: 0;
			left: 0;
		}

		.main .logo:before{
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			content: '';
			border: 125px solid #fff;
			border-top: 75px solid #fff;
			border-bottom: 75px solid transparent;
			border-right-color: transparent;
			z-index: 101;
		}

		.main .logo img{
			height: 47px;
			display: block;
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 102;
		}
		
		.schedule_board {
			border: 1px solid rgba(255, 255, 255, 0);
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
			background-repeat: no-repeat;
			height: 25%;
			margin: 1.0rem;
		}
		
		.schedule_board_item {
			background: transparent;
			text-align: left;
			padding: 10px;
		}
		
		.schedule_board_item .time {
			display: inline-block;
			color: white;
			font-size: 0.8em;
			margin-bottom: 10px;
			border-bottom: 4px solid rgb(78, 146, 232);
		}
		
		.schedule_board_item .title {
			display: block;
			color: white;
			font-size: 1em;
			margin-bottom: 10px;
		}
		
		.schedule_board_item .speakers {
			display: block;
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
		}
		
		.schedule_board_item {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}
		
		.schedule_board_item:last-child {
			border-bottom: 1px solid rgba(255, 255, 255, 0);
		}
	</style>
	<div class="bgHolder">
		<template id="bg" />
	</div>
	<div class="main">
		<div class="logo">
			<img src="{{root}}/assets/tc-logo.png" />
		</div>
		<div class="schedule_board dots">
			<div id="schedule_board_container" class="rbox scrollbox">

			</div>
		</div>
		<template id="searchbar" />
		<template id="entries" />
		<a href="http://emerge.cc" target="_blank" class="dots btn" style="margin-top: 30px; margin-bottom: 30px;">了解下一代场景化Wi-Fi科技</a>
		<template id="poweredBy">{"em" : "emerge"}</template>
	</div>
</inject>

<script>

var all = [];
var t = $("#schedule_board_container");
for (var i = 0; i < $$$edgeData$$$.schedule.length; i++) {
    all.push($$$template("schedule_board_item", $$$edgeData$$$.schedule[i]).appendTo(t));
}

function update() {
    var now = new Date();
    var time = now.getTime();
    var mindate = 0;
    for (var i = 0; i < $$$edgeData$$$.schedule.length; i++) {
        var sch = $$$edgeData$$$.schedule[i];
        if (mindate > 0 && mindate !== parseInt(sch.date)) {
            all[i].css("display", "none");
            continue;
        }
        //only show stuff in da future
        if (sch.end < time) {
            //done.
            all[i].css("display", "none");			
        }
        else if (sch.start < time) {
            all[i].css("display", "block");
            //all[i].find(".tag").css("visibility", "visible");
            if (mindate == 0) {
                mindate = parseInt(sch.date);
            }
        } else {
            all[i].css("display", "block");
            //all[i].find(".tag").css("visibility", "collapse");
            if (mindate == 0) {
                mindate = parseInt(sch.date);
            }
        }
    }
}
update();
setInterval(update, 3000);
</script>